@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); 

.container{
    --background: #7758f7;
    width: 100%;
    height: 100%;
    font-family: Merriweather, sans-serif;
}

.container-div{
    width: 84%;
    height: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 2);
    border-radius: 10px;
    background: #FCFF81;
    top: 5%;
    left: 8%;
    font-family: Merriweather, sans-serif;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15%;//terminar de acomodar
    font-family: Merriweather, sans-serif;
}

.form .item{
    width: 90%;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transition: box-shadow 0.3s;
    font-family: Merriweather, sans-serif;
}

.input{
    bottom: 4px;
    background: transparent;
    color: #000000;
    font-size: 20px;
    font-family: Merriweather, sans-serif;
}

.button{
    --background: #7758f7;
    margin: 13px;
    width: 67%;
    height: 5.5vh;
    font-family: Merriweather, sans-serif;
    font-size: 20px;
}

.divBtn{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 16px;
    font-family: Merriweather, sans-serif;
}

.letra3d{
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Merriweather, sans-serif;
    color: #7758f7;
    bottom: 50%;
}

.reduced-image 
{
    position: relative;
    width: 40%;
    height: auto;
    top: 110px;//terminar de acomodar
}

.divBtnPick{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 70px;
    font-family: Merriweather, sans-serif;
}












.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente difuminado */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
  }









#wifi-loader {
    --background: #62ABFF;
    --front-color: #4F29F0; 
    --back-color: #C3C8DE;
    --text-color: #414856; 
    width: 64px;
    height: 64px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      circle {
        position: absolute;
        fill: none;
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-linejoin: round;
          transform: rotate(-100deg);
        transform-origin: center;
        &.back {
          stroke: var(--back-color);
        }
        &.front {
          stroke: var(--front-color);
        }
      }
      &.circle-outer {
        height: 86px;
        width: 86px;
        circle {
          stroke-dasharray: 62.75 188.25;
          &.back {
            animation: circle-outer 1.8s ease infinite .3s;
          }
          &.front {
            animation: circle-outer 1.8s ease infinite .15s;
          }
        }
      }
      &.circle-middle {
        height: 60px;
        width: 60px;
        circle {
          stroke-dasharray: 42.5 127.5;
          &.back {
            animation: circle-middle 1.8s ease infinite .25s;
          }
          &.front {
            animation: circle-middle 1.8s ease infinite .1s;
          }
        }
      }
      &.circle-inner {
        height: 34px;
        width: 34px;
        circle {
          stroke-dasharray: 22 66;
          &.back {
            animation: circle-inner 1.8s ease infinite .2s;
          }
          &.front {
            animation: circle-inner 1.8s ease infinite .05s;
          }
        }
      }
    }
    .text {
      position: absolute; 
      bottom: -40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: .2px;
      &::before,
      &::after {
        content: attr(data-text);
      }
      &::before {
        color: var(--text-color);
      }
      &::after {
        color: var(--front-color);
        animation: text-animation 3.6s ease infinite;
        position: absolute;
        left: 0;
      }
    }
  }
  
  @keyframes circle-outer {
    0% {
      stroke-dashoffset: 25;
    }
    25% {
      stroke-dashoffset: 0;
    }
    65% {
      stroke-dashoffset: 301;
    }
    80% {
      stroke-dashoffset: 276;
    }
    100% {
      stroke-dashoffset: 276;
    }
  }
  
  @keyframes circle-middle {
    0% {
      stroke-dashoffset: 17;
    }
    25% {
      stroke-dashoffset: 0;
    }
    65% {
      stroke-dashoffset: 204;
    }
    80% {
      stroke-dashoffset: 187;
    }
    100% {
      stroke-dashoffset: 187;
    }
  }
  
  @keyframes circle-inner {
    0% {
      stroke-dashoffset: 9;
    }
    25% {
      stroke-dashoffset: 0;
    }
    65% {
      stroke-dashoffset: 106;
    }
    80% {
      stroke-dashoffset: 97;
    }
    100% {
      stroke-dashoffset: 97;
    }
  }
  
  @keyframes text-animation {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    50% {
      clip-path: inset(0);
    }
    100% {
      clip-path: inset(0 0 0 100%);
    }
  }
  
  
  
  //--- ## BASIC #############
  body {
    background: #E8EBF3;
    height: 100vh;
    font: 400 16px 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .socials {
      position: fixed;
      display: block;
      left: 20px;
      bottom: 20px;
      > a {
        display: block;
        width: 30px;
        opacity: .2;
        transform: scale(var(--scale, .8));
        transition: transform .3s cubic-bezier(0.38,-0.12, 0.24, 1.91);
        &:hover {
          --scale: 1;
        }
      }
    }
  }